@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: paleturquoise;
}
.container {
    margin: 0 auto;
    text-align: center;
}
h1 {
    text-align: center;
    display: block;
}
table {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    border: 1px solid;
}
thead {
    color: #fff;
    background: black;
}
th {
    padding: 10px;
}
table th:after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    margin-top: -5px;

    position: absolute;
    top: 50%;
    right: 20px;
}

table th.asc:after {
    display: block;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #E2E2E2 transparent;
}

table th.desc:after {
    display: block;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #E2E2E2 transparent transparent transparent;
}
